.pointContent{
    margin-top:10px;
    ul{
        width:100%;
        text-align: center;
    }
    li{
        display: inline-block;
        border-radius:50%;
        width:8px;height: 8px;
        background: #ccc;
        margin:0 3px;
    }
    .selected{
       background: rgba(233, 32, 61);
    }

}
.liStyle{
    list-style: none;
    float: left;
    width: 20%;
    height: auto;
    text-align: center;
    padding-top: 5px;
    img{
        width:60%;
    }
}